@media screen and (max-width: 1024px) {
    .skills__content {
        flex-direction: column;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 425px) {
    body {
        font-size: 12px;
    }

   
    #open-menu {
        display: inline-block;
        position: fixed;
        z-index: 100;
        top: 18px;
        right: 18px;
        fill: var(--color-main);
        transform: translateX(0);
        width: 24px;
        height: 24px;
        transition: fill .2s;
    }
    
    nav.nav.move-menu{
        transform: translateX(0);
    }

    .nav {
        background: #050505a8;
        padding-top: 25px;
        height: 100vh;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
        

        


        .nav__content {
            flex-direction: column;

            .nav__menu {
                margin-top: 30px;
                flex-direction: column;

                .nav-menu__item {
                    text-align: center;
                    margin: 20px 0;
                }
            }
        }
    }

    .header {
        .header-img__container {
            top: 50%;
            left: 50%;
            animation: move-img-mobile 2s forwards;
        }

        .header-text__container {
            opacity: 0;
            animation: move-text-mobile 1.5s .3s forwards;
        }
    }

    .container {
        width: 90%;
    }

    .proyects{
        .proyect__container {
            width: 100%;
        }
    }

    .skills__content {
        height: auto;
        margin-top: 10%;

        .skills-text {
            text-align: center;
        }
    
        .skills__container {
            margin-top: 30%;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    .contact {

        .contact__main {
            
            .roulette {
                height: 17px;
            }
        }
    }
}