:root {
    --color-main: #eeeeee;
    --color-sec: #c2c2c2;
    --color-name: #ff6666
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif
}

#open-menu {
    display: none
}

body {
    font-size: 18px
}


.main {
    background: var(--color-main);
    width: 100%
}

.text {
    color: #000;
    font-size: 1em
}

.title {
    font-size: 2em;
    color: #000;
    font-weight: 600
}

.name {
    font-weight: 300
}